@page "/"

<PageTitle>Inicio</PageTitle>

<h1>Bem vindo ao meu portifólio de WebAssembly com Blazor !</h1>

<div>Estudante de Engenharia da Computação com foco no Bacharel em Técnologia de Informação pela Universidade do Estado de São Paulo (Univesp).</div>
<div>Apaixonado por todas as técnologias (computação, robótica, programação, jogos, IA's ...), o conhecimento é chave para o sucesso!</div>
<h3>Viva o CSharp!!!!</h3>


<SurveyPrompt Title="O que esta achando até agora?" />
